In [1]:
import pandas as pd

In [2]:
pd.read_excel('Desktop/Pathway to DS/wind_data.xlsx')

              u         v         w
0      8.149239 -1.004577 -0.386437
1      8.179172 -1.038056 -0.366863
2      8.124179 -0.961820 -0.326073
3      8.294137 -0.965844 -0.388507
4      8.291696 -1.051260 -0.418475
...         ...       ...       ...
35995  9.564305  0.446871  0.463438
35996  9.496966  0.409857  0.564410
35997  9.445132  0.495371  0.565150
35998  9.505051  0.536116  0.594298
35999  9.372066  0.686772  0.626200

[36000 rows x 3 columns]

In [3]:
weather = [('1/1/17',32,6,'Rain'),('1/2/17',35,7,'Sunny'),('1/3/17',28,2,'Snow')]

In [11]:
pd.DataFrame(weather,columns=['day','temperature','windspeed','event'])

      day  temperature  windspeed  event
0  1/1/17           32          6   Rain
1  1/2/17           35          7  Sunny
2  1/3/17           28          2   Snow